<!--
<h3>{{title | uppercase}}</h3>
<h3>{{title | json}}</h3>
-->
<!--
<h3>{{1 | currency: 'INR'}}</h3>
<h3>{{1 | currency: 'USD'}}</h3>
<h3>{{1 | currency: 'GBP'}}</h3>
-->
<!--
<h3>{{date | date: 'shortDate'}}</h3>
<h3>{{date | date: 'fullDate'}}</h3>
<h3>{{date | date: 'longDate'}}</h3>
<h3>{{date | date: 'shortTime'}}</h3>
<h3>{{date | date: 'fullTime'}}</h3>
<h3>{{date | date: 'd/M/y'}}</h3>
-->
<!--
<h3>{{0.39 | percent}}</h3>
<h3>{{0.395678 | percent: '3.2'}}</h3>
-->
<!--
<h3>{{title | json | uppercase}}</h3>
<h3>{{date | date: 'longDate' | uppercase}}</h3>
-->
<h3>{{2 | exponential: 2: 2}}</h3>