<!--MODEL DRIVEN FORM-->
<!--<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <fieldset formGroupName="name">
      <div>First Name: </div>
      <div><input [ngClass]="{'success': myForm.controls.name.controls.firstName.valid, 
                              'error': myForm.controls.name.controls.firstName.invalid && myForm.controls.name.controls.firstName.dirty}" 
                              type="text" formControlName="firstName"></div>
      <div *ngIf="myForm.controls.name.controls.firstName.invalid && myForm.controls.name.controls.firstName.dirty" style="color: red; font-size: 8px">First Name is not valid</div>
      <div>Last Name: </div>
      <div><input [ngClass]="{'success': myForm.controls.name.controls.lastName.valid, 
                              'error': myForm.controls.name.controls.lastName.invalid && myForm.controls.name.controls.lastName.dirty}"
                              type="text" formControlName="lastName"></div>
  </fieldset>
  <br>
  <div>
    <button type="submit">submit</button>
  </div>
</form>-->

<!--TEMPLATE DRIVEN FORM-->
<form #myForm="ngForm" (ngSubmit)="onSubmit()">
    <fieldset ngModelGroup="name">
        <div>First Name: </div>
        <div><input type="text" name="firstName" ngModel required minlength="2"></div>
        <div *ngIf="myForm.controls.name.controls.firstName.invalid && myForm.controls.name.controls.firstName.dirty" style="color: red; font-size: 8px">First Name is not valid</div>  
        <div>Last Name: </div>
        <div><input type="text" name="lastName" ngModel required></div>
    </fieldset>
    <br>
    <div>
      <button type="submit">submit</button>
    </div>
</form>
<!--<div>{{myForm.value | json}}</div>-->